<div class="d-flex justify-content-center align-items-center">
  <.form let={f} for={@changeset} action={@action} class="d-inline-block">
    <div class="input-group">
      <%= url_input f, :url, required: true, placeholder: "https://example.com", class: "form-control form-control-lg" %>
      <%= submit "Shorten!", class: "btn btn-dark" %>
    </div>

    <%= error_tag f, :url %>

    <div>
    </div>
  </.form>
</div>
